/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "form";
@import "profile";
@import "likes";
@import "fields";
@import "posts";
@import "rooms";
@import "relationships";

.navbar_icon_margin{
    margin-left: 5px;
}

.blue{
    background-color: #037BFE;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }
  
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {     
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }
  
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
  }

.navbar_logo a{
    border: 2px solid #fff;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #808000;
}

.navbar_logo a:hover{
    background-color: #999933;
}

.logo{
    font-family: 'Lucida Console';
}

.navbar_flex{
    display: flex;
}

.user_search{
    align-self: center;
    margin-left: 5px;
}

.fa-sign-out-alt{
    align-self: center;
    margin-left: 5px;
}

.fa-plus{
    align-self: center;
    margin-left: 5px;
}

.fa-sign-in-alt{
    align-self: center;
}

.fa-book{
    align-self: center;
    margin-left: 5px;
}