.comment_content_wrapper{
    display: flex;
    justify-content: center;
    margin: 48px 0;
}

.comment_content_texts{
    display: flex;
}

.comment_text{
    margin: 0 16px;
    color: #037BFE;
}

.comment_text.another_user{
    color: #DD3444;
}

.comment_profile_text a{
    display: block;
    background-color: #037BFE;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
}

.comment_profile_text.another_user a{
    background-color: #DD3444;
}

.comment_text_contents{
    margin-left: 16px;
}

.comment_form{
    margin-bottom: 48px;
}

.comment_top{
    margin-top: 32px;
    background-color: #037BFE;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.comment_top.another_user{
    background-color: #DD3444;
}

.fa-comments{
    margin-right: 8px;
}