.field_name_wrapper{
    text-align: center;
}

.fields_show_wrapper{
    display: flex;
    justify-content: center;
}

.field_name{
    text-align: center;
    margin-top: 48px;
    color: #037BFE;
    display: inline-block;
    border: 2px solid #037BFE;
    padding: 10px 20px;
    border-radius: 5px;
}

.field_index_text{
    display: flex;
    justify-content: center;
}

.field_index_form{
    text-align: center;
    margin-top: 24px;
}

.field_title a{
    color: #fff;
}

.field_title{
    font-size: 32px;
    background-color: #037BFE;
    color: #fff;
    margin: 32px 32px 16px;
    border-radius: 5px;
}

.field_title a{
    display: block;
    padding: 16px 20px;
}

.field_title.nil{
    background-color: #999;
    padding: 16px 20px;
}

.field_trash{
    align-self: center;
}

.field_content_wrapper{
    margin: 24px;
}

.field_date{
    margin-bottom: 32px;
}

.count_hour_wrapper{
    text-align: center;
    border-bottom: 1px solid #037BFE;
    margin-bottom: 24px;
}

.field_record{
    display: flex;
}

.count_hour{
    background-color: #037BFE;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.count_hour.date{
    margin-bottom: 1px;
}

.count_number{
    align-self: center;
    padding-left: 16px;
}

.field_posts_title{
    display: flex;
    justify-content: space-around;
}

.field_posts_title p{
    color: #fff;
    background-color: #037BFE;
    padding: 10px;
    margin: 0 1px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.graph_wrapper{
    margin-bottom: 48px;
}

.count_number{
    color: #037BFE;
}