.comment_textarea{
    width: 50%;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.comment_textarea_wrapper{
    margin-bottom: 16px;
}