.posts_index_searchs{
    text-align: center;
    border-bottom: 1px solid #037BFE;
    padding: 32px 0;
}

.search_word{
    margin-bottom: 16px;
}

.posts_index_wrapper{
    text-align: center;
}

.index_content_wrapper{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #037BFE;
    width: 100%;
    align-items: center;
    padding: 32px 0;
}

.index_content_text{
    text-align: left;
    margin-right: 10%;
    margin-left: 48px;
    width: 40%;
}

.content_title{
    text-align: center;
    background-color: #037BFE;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
}

.content_title_show{
    text-align: center;
    background-color: #037BFE;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
}

.content_title:hover{
    background-color: #3399ff;
}

.content_title.show{
    pointer-events: none;
}

.content_title.another_user{
    background-color: #DD3444;
}

.content_title_show.another_user{
    background-color: #DD3444;
}

.content_title.another_user:hover{
    background-color: #ff3366;
}

.content_text{
    text-align: left;
    color: #037BFE;
    padding: 0 32px;
}

.content_text_show{
    text-align: left;
    color: #037BFE;
    padding: 0 32px;
}

.content_text:hover{
    color: #3399ff;
}

.content_text.another_user{
    color: #DD3444;
}

.content_text_show.another_user{
    color: #DD3444;
}

.content_text.another_user:hover{
    color: #ff3366;
}

.content_text.content{
    text-align: center;
}

.content_text_show.content{
    text-align: center;
}

.posts_show_content_wrapper{
    display: flex;
    justify-content: center;
}

.posts_show_comment_wrapper{
    text-align: center;
}

.index_content_textfield{
    display: flex;
    justify-content: space-around;
}

.index_content_textfield p{
    color: #fff;
    background-color: #037BFE;
    padding: 10px;
    margin: 0 1px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.index_content_textfield p:hover{
    background-color: #3399ff;
}

.index_content_textfield.another_user p{
    background-color: #DD3444;
}

.index_content_profile{
    margin-left: 10%;
    width: 20%;
}

.posts_index_button{
    text-align: right;
}

.index_content_items{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.index_content_block{
    border-bottom: 1px solid #037BFE;
    padding-top: 16px;
}

.index_content_block.another_user{
    border-bottom: 1px solid #DD3444;
}

.posts_index_button_items{
    display: flex;
}

.posts_index_button_trash{
    margin-left: 8px;
}

.index_content_name{
    background-color: #037BFE;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 16px;
}

.index_content_name:hover{
    background-color: #3399ff;
}

.index_content_name.another_user{
    background-color: #DD3444;
}

.index_content_name.another_user:hover{
    background-color: #ff3366;
}

.posts_index_goals{
    border: 1px solid #037BFE;
    padding: 10px;
    border-radius: 5px;
}

.posts_index_goals.another_user{
    border: 1px solid #DD3444;
}

.goal_title{
    background-color: #037BFE;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
}

.goal_title.another_user{
    background-color: #DD3444;
}

.fa-clock{
    margin-right: 8px;
}