.container{
    display: flex;
    justify-content: space-around;
}

.posts_index_flex{
    display: flex;
    flex-direction: column;
}

.posts_content{
    text-align: center;
}

.posts_show_contents{
    text-align: center;
}

.posts_show_icon{
    text-align: center;
}

.posts_search{
    text-align: center;
}

.posts_show_comments{
    text-align: center;
}