.icon_image {
    width: 200px;
    height: 200px;
    //サイズ指定
    border-radius: 100px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}

.post_icon_image{
    width: 100px;
    height: 100px;
    //サイズ指定
    border-radius: 50px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}

.navbar_icon_image{
    width: 25px;
    height: 25px;
    //サイズ指定
    border-radius: 12.5px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}

.profile_show_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    border-bottom: 1px solid #037BFE;
    padding-bottom: 24px;
}

.calendar_text{
    font-size: 12px;
}

.calendar_wrapper{
    width: 60%;
    margin-left: 32px;
}

.profile_posts_wrapper{
    display: flex;
}

.profile_center{
    text-align: center;
}

.index_content_name_profile{
    background-color: #037BFE;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 16px;
}

.index_content_name_profile.another_user{
    background-color: #DD3444;
}

.posts_index_button_trash.profile{
    text-align: right;
}

.profile_edit{
    text-align: right;
}

.profile_icons{
    text-align: center;
}

.profile_icons h1{
    margin-bottom: 24px;
    background-color: #037BFE;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.profile_icons.another_user{
    margin-right: 40px;
}

.profile_icons.another_user h1{
    background-color: #DD3444;
}

.profile_icons_image{
    margin-bottom: 24px;
}

.profile_intro{
    text-align: left;
}

.current_profile_follow_text{
    margin-top: 24px;
}

.another_profile_wrapper{
    display: flex;
}

.another_profile_text_wrapper{
    display: flex;
}

.another_profile_buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.current_profile_time{
    display: flex;
    padding: 0 32px;
    padding-top: 16px;
}

.current_profile_buttons{
    display: flex;
}

.index_content_items.another_user{
    padding: 0 32px;
    padding-top: 16px;
}

.current_profile_follow_text{
    display: flex;
    justify-content: space-around;
}

.calendar_wrapper.another_profile{
    display: none;
}

.profile_top_wrapper{
    display: block;
}

.profile_content_name{
    background-color: #037BFE;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 16px;
}

.profile_content_name.another_user{
    background-color: #DD3444;
}

.fa-envelope{
    padding: 10px 35px;
}

.goal_title.another_user{
    background-color: #DD3444;
}

.follows_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.follow_icons{
    align-self: center;
    margin-right: 16px;
}

.follow_icons p{
    background-color: #DD3444;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 16px;
}

.follow_icons p:hover{
    background-color: #ff3366;
}

.follow_icons.current_user p {
    background-color: #037BFE;
}

.follow_icons.current_user p:hover{
    background-color: #3399ff;
}

.follow_icons{
    text-align: center;
}

.follows_top_btn{
    background-color: #037BFE;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-top: 24px;
}

.follows_top_btn a{
    color: #fff;
    display: inline-block;
    padding: 10px 20px 10px 0;
}

.follows_top_btn.another_user a{
    background-color: #DD3444
}

.follows_top_btn i{
    padding-left: 10px;
}

.follows_all_wrapper{
    text-align: center;
}

.follow_btns{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.follow_btns a{
    color: #fff;
    display: block;
    background-color: #037BFE;
    padding: 10px 15px;
    border-radius: 5px;
}

.follow_btns.another_user a{
    background-color: #DD3444;
}

.follow_btns a:hover{
    background-color: #3399ff;
}

.follow_btns.another_user a:hover{
    background-color: #ff3366;
}