<div class="follows_all_wrapper">
    <p class="follows_top_btn">
        <i class="fas fa-user icon"></i>
        <%= link_to "プロフィールに戻る", profile_path(@user) %>
    </p>
    <% @users.each do |user| %>
        <%= render 'follows_index', user: user %>
    <% end %>
</div>
<%= paginate @users %>